body {
  font-family: Tahoma;
  transition: 0.4s;
  margin: 0;
  padding: 0;
}

body.dark {
  background: linear-gradient(135deg,#0f2027,#203a43);
  color: #fff;
}

body.light {
  background: linear-gradient(135deg,#fdfbfb,#ebedee);
  color: #000;
}

.top-bar {
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
}

button.mode, button.lang {
  padding: 10px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.container {
  max-width: 380px;
  margin: 80px auto;
  padding: 25px;
  border-radius: 20px;
  background: rgba(255,255,255,0.15);
  backdrop-filter: blur(10px);
  box-shadow: 0 15px 40px rgba(0,0,0,0.4);
  text-align: center;
}

input, select, button {
  width: 100%;
  margin-top: 10px;
  padding: 12px;
  border-radius: 10px;
  border: none;
}

.select-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

button {
  background: #00c6ff;
  font-size: 18px;
  cursor: pointer;
}

.result {
  margin: 15px 0;
  font-size: 18px;
}
